body {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px
}

nav {
  background-color: lightgray;
  float: left;
  position: fixed;
  width: 100%;
  font-size: 2em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
 text-decoration: none;
}

a:hover {
  color: aqua
}

article {
  padding-top: 140px;
  line-height: 1.75;
}

header {
  line-height: 2;
}

figure {
  font-size: 1em
}

h1 {
  font-size: 1.75em;
  font-weight: 800;
  line-height: 4
}

h3{
  font-weight: 600;
  font-size: 1.2em
}

.author {
  font-weight: 800;
  font-size: 1.75em
}

.container {
  margin: 0 auto;
  width: 50%;
}
