body {
  background-color: #ffffff;
  color: #000000;
  text-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size; 1.5em;
}
  
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
   background-image: url(instagram-pic.jpg);
}

.left, .right {
  float: left;
  width: 50%;
  text-dec
}

.right {
  float: right;
}

.left, logo { 
  background-image: url(images/bloc-logo.png)
}
    
ul {
  list-style-type: none;
  float: right;
}

ul, .a:hover {
    background-color: green;
}

li {
  float: right;
  padding: 30px;
}

a {
   text-decoration: none;
   font-size: 1.2em;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

article, container {
  font-size: 1.5em;
}

article, container, h1 {
  font-size: 1.5em;
  font-weight: 600;
}
  
 
article, story-text {
  line-height: 1.75;
}

